@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  background-color: #131313; /* Dark background  */
  
}

img {
  max-width: 100%;
  height: auto;
}


label {
  color: #FFBFB;
  font-family: 'Sarala', sans-serif;
}

/* Label styling for login and signup form fields */
.login_signup_form_label {
  color: #B3B3B3; /* Light gray color for labels */
  font-family: 'Sarala', sans-serif; /* Apply the Sarala font */
}

/* Input field styling */
.login_signup_input_field {
  border-bottom: 1px solid #B3B3B3; /* Light gray underline */
  background-color: transparent;
  color: #B3B3B3; 
  padding: 8px 0;
  outline: none;
} 

.login_signup_input_field:focus {
  border-bottom-color: #FC9D04; /* Yellow underline on focus */
}

.login_signup_button {
  background-color: #FC9D04;
  color: #131313; /* Dark text color */
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}

.login_signup_button:hover {
  background-color: #E08C03;
}

